.card2 {
    width: 21vw !important;
    height: 23vw !important;
    border: 1px solid white !important;
    border-radius: 2.5vw !important;
    box-shadow: 0px 2px 49px 2px rgba(255, 48, 8, 0.2) !important;
}
.img-div {
    background-color: #FFE9E5;
    width: 6.5vw;
    height: 6.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
}

.img-div img {
    width: 5vw;
    height: 4vw;
}
.img-div-par {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4vw
}
.cc-heading {
    color: #FF3008 !important;
    font-size: 2.3vw !important;
    margin-right: 4vw !important;
    font-weight: bold !important;
}
.cc-paragraph {
    color: #6B6B6B !important;
    font-size: 1.5vw !important;
    text-align: center !important;
    margin-top: -0.80vw !important;
}
.card2-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}