.textsec {
    text-align: center;
}
.text-sech {
    font-size: 3vw !important;
    color: #4C302C !important;
    font-weight: bold !important;
}
.text-secp {
    font-size: 1.7vw !important;
    color: #6B6B6B !important;
}