.bfy-cardp {
    width: 25.03vw !important;
    height: 27.99vw !important;
    /* background-color: transparent !important; */
}
.bfycard-img {
    width: 6vw;
    height: 6vw;
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bfycard-img img {
    width: 4.2vw;
    height: 4vw;
}
.bfyhead {
    font-size: 2.5vw !important;
    font-weight: bolder !important;
}
.bfytext {
    font-size: 2vw !important;
    color: #6B6B6B !important;
}
.bfy-card {
    margin-left: 1.3vw;
    margin-top: 1.5vw;
}
