.card1 {
    width: 21vw;
    height: 23vw;
}
.img {
    background-color: #FFE9E5;
    width: 6.5vw;
    height: 6.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
}
.img img {
    width: 4vw;
    height: 4vw;
}
.img-par {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4vw
}
.cc1-heading {
    font-size: 1.7vw !important;
    color: #4C302C !important;
    font-weight: bold !important;
}
.cc1-paragraph {
    font-size: 1.3vw !important;
    color: #6B6B6B !important;
}
.card1-content-par {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
