.input input {
    background-color: transparent;
    border: none;
    width: 13vw;
}
.input input:focus {
    outline: none;
}
.input {
    border: 0.14vw solid #4C302C;
    padding: 0.5vw;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 16vw;
    height: 2.3vw;
    border-radius: 0.5vw;
}
.input input::placeholder {
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-sec {
    display: flex;
    flex-direction: column;
}
.input-sec label {
    font-size:  0.75vw;
}
.main-heading {
    font-size: 4.02vw !important;
    color: #FF3008 !important;
    font-weight: bold !important;
}
.main-paragraph {
    font-size: 1.83vw !important;
    color: #6B6B6B !important;
}
.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vw;
}
.dish-img {
    width: 35vw;
    height: 35vw;
}
/* .main-text {
    margin-top: -5vw;
} */
.search-icon {
    width: 1.15vw;
    height:  1.16vw;
}